extends layout.pug

block content
    div
        a(class="button" href="/park/add" role="button") Add Park
    table
        thead
            tr
                th(scope="col") Park Name
                th(scope="col") City
                th(scope="col") Province/State
                th(scope="col") Country
                th(scope="col") Opened
        tbody
